.genericDiv h1 {
  font-size: clamp(1.30rem, 3vw, 1.70rem);
  line-height: 1.5;
  text-wrap: unset;
  font-weight: bold;
  color: #000;

  text-align: start;
  /* margin-top: 40px; */
}

.genericDiv h2 {
  font-size: clamp(1.20rem, 2.5vw, 1.50rem);
  line-height: 1.5;
  text-wrap: unset;
  font-weight: bold;
  color: #000;

  text-align: start;
  margin-top: 40px;
}

.genericDiv h3 {
  /* font-size: clamp(2rem, 4vw, 3rem); */
  font-size: clamp(1.10rem, 2.5vw, 1.30rem);
  line-height: 1.5;
  text-wrap: unset;
  font-weight: bold;
  color: #000;

  text-align: start;
  margin-top: 35px;

}

.genericDiv h4 {
  /* font-size: clamp(2rem, 3vw, 2rem); */
  font-size: clamp(1rem, 2.5vw, 1.10rem);
  line-height: 1.5;
  text-wrap: unset;
  font-weight: bold;
  color: #000;

  text-align: start;
  margin-top: 30;

}

.genericDiv img {
  display: block;
  margin-top: 40px;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.genericDiv a img {
  margin-top: 10px;
}

.genericDiv h5 {
  /* font-size: clamp(2rem, 2vw, 1rem); */
  font-size: clamp(0.85rem, 2vw, 0.90rem);
  line-height: 1.5;
  text-wrap: unset;
  font-weight: bold;
  color: #000;

  text-align: start;
  margin-top: 25px;

}

.genericDiv h6 {
  /* font-size: clamp(2rem, 1vw, 1rem); */
  font-size: clamp(0.75rem, 2vw, 0.70rem);
  line-height: 1.5;
  text-wrap: unset;
  font-weight: bold;
  color: #000;

  text-align: start;
  margin-top: 20px;

}

.genericDiv li {
  list-style-type: disc;
  text-wrap: unset;
  /* list-style-position: inside; */
  margin: 0px 6px 0px 0px;

}

.genericDiv a {
  color: rgb(0, 89, 255);
  text-decoration: underline;
}

.genericDiv ul {
  margin-bottom: 10px;

}

.genericDiv p {
  text-wrap: unset;
  text-align: start;
}

@media (min-width: 768px) {
  .genericDiv img {
    display: block;
    margin-top: 40px;
    width: 100%;
    object-fit: cover;
    height: 380px;
  }

  .genericDiv h1 {
    font-size: 1.70rem;
    color: #000;
    margin-top: 20px;
  }

  .genericDiv h2 {
    font-size: 1.50rem;
    color: #000;
    margin-top: 20px;

  }

  .genericDiv h3 {
    font-size: 1.30rem;
    font-weight: bold;
    color: #000;
    margin-top: 20px;

  }

  .genericDiv li {
    margin: 0px 6px 0px 0px;


  }

  .genericDiv h4 {
    font-size: 1.10rem;
    color: #000;
    margin-top: 20px;

  }

  .genericDiv h5 {
    font-size: 0.90rem;
    color: #000;
    margin-top: 20px;

  }

  .genericDiv h6 {
    font-size: 0.70rem;
    color: #000;
    margin-top: 20px;

  }
}