.genericDiv h1 {
  font-size: clamp(2.25rem, 3.5vw, 3rem);
  color: #000;

}

.genericDiv h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: #000;

}

.genericDiv h3 {
  /* font-size: clamp(2rem, 4vw, 3rem); */
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  color: #000;


}

.genericDiv h4 {
  /* font-size: clamp(2rem, 3vw, 2rem); */
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: #000;


}
.genericDiv img{
  display: block; /* Make sure the image is a block element */
  margin: 0 auto; 
  width:70%;

}
.genericDiv h5 {
  /* font-size: clamp(2rem, 2vw, 1rem); */
  font-size: clamp(1.25rem, 2vw, 1.8rem);
  color: #000;


}

.genericDiv h6 {
  /* font-size: clamp(2rem, 1vw, 1rem); */
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #000;


}

@media (min-width: 768px) {
  .genericDiv h1 {
    font-size:3.5rem;
    color: #000;
  }

  .genericDiv h2 {
    font-size: 3rem;
    color: #000;

  }

  .genericDiv h3 {
    font-size: 2.5rem;
    color: #000;

  }

  .genericDiv h4 {
    font-size: 2rem;
    color: #000;

  }

  .genericDiv h5 {
    font-size: 1.5rem;
    color: #000;

  }

  .genericDiv h6 {
    font-size: 1.25rem;
    color: #000;

  }
}


