/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-select {
  appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-size: 14px;
  width: 100%;
}
.custom-select::after {
  content: '\f078';
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.line-break {
  width: 90px;
  height: 2px;
  background-color: rgb(200, 200, 200);
}
.shadow:hover{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input[type="radio"] {
  /* display: none; */
  background-color: #000;
  border-radius: 10%;
 }
 
 .usersinput{
   display: none;
 }
 
 .userslabel {
 
   width: 120px;
   border: #309da0 2px solid;
   text-align: center;
   padding: 10px 5px;
   color: #309da0;
   font-weight: 500;
   font-size: 18px;
   width: 33%;
 }
 
 .usersinput:checked + .userslabel {
   background-color: #309da0;
   color: #fff;
 }
 


body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track { 
  background: #fff;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #d2512d;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 3px solid #d2512d;  /* creates padding around scroll thumb */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
footer {
  background-color: #fff;
  z-index: 0;
  -webkit-box-shadow:  0px -6px 16px -4px rgba(0,0,0,0.2);
-moz-box-shadow:  0px -6px 16px -4px rgba(0,0,0,0.2);
box-shadow:  0px -6px 16px -4px rgba(0,0,0,0.2);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}



.radio{
  display: none;
}
.label{
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border: #309da0 solid 2px;
  border-radius: 7px;
  transition: all 0.1s;
  font-weight: 500;
  color: #d2512d;
  display: block;
}
.label:hover{
  background-color: #309da0;
  color: #fff;
}

#lang-1:checked ~ label{
  background-color: #309da0;
  color: #fff;
}
#lang-2:checked  ~ label {
  background-color: #309da0;
  color: #fff;
}
.form-control {

  width: 100% !important;
  height: 42px !important;
  border: #e0e0e0 solid 2px !important;
  
  color: rgb(104, 7, 60);

}
.react-tel-input {

  background-color: transparent;
}.react-tel-input:focus{
  /* margin-top: 5px !important; */
}
.form-control:focus  {
border: #309da0 solid 1px !important;
}
.form-control::placeholder{
  font-size: 16px;
  color: #808080;
}

.map {
  /* width: 50%; */
  height: 100%;
  border-radius: 15px;
}



/* date picker hours dropdown */
.react-datepicker__time-container {
  width:100% !important;  /* Adjust the width as needed */
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background-color: #309da0 !important;
}
.react-datepicker__time-container {
  width: 150px; /* Adjust the width as needed */
}

@media (max-width:500px){
  .splide {
    padding: 5px !important;
  }
}