/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Pagination numbers */
.paginationContainer {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.paginationPage {
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
  color: #5c5a5a;
  padding: 5px 0px;
}

.paginationPage a {

  padding: 5px 10px;
}

.activePage {


  background-color: #3ababeff;
  color: white;
  border-radius: 8px;
}

/* Previous and Next buttons */
.paginationPrevious,
.paginationNext {
  margin: 0 5px;
  cursor: pointer;
  color: #5c5a5a;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 5px 0px;
}

.paginationPrevious a,
.paginationNext a {
  padding: 5px 15px;
}

.paginationDisabled {
  pointer-events: none;
  opacity: 0.5;
}