/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Pagination numbers */
.paginationContainer {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.paginationPage {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #3ababeff;
  border-radius: 4px;
  color: white;

}

.activePage {
  /* background-color: #3ababeff;
  color: #fff; */
  background-color: white;
  border:2px #d2512d solid;
  color: #d2512d;
}

/* Previous and Next buttons */
.paginationPrevious,
.paginationNext {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #3ababeff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.paginationDisabled {
  pointer-events: none;
  opacity: 0.5;
}
