/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Pagination numbers */
.paginationContainer {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.paginationPage {
  cursor: pointer;
  /* padding: 5px 10px; */
  margin: 0 5px;
  /* background-color: #3ababeff; */
  border-radius: 4px;
  color: #5c5a5a ;
  /* margin: 0; */
  padding: 5px 0px;
}
.paginationPage a{
  /* background: #000; */
  /* width: 100%; */
  /* padding:20px 8px ; */
  padding: 5px 10px;
  
  

}

.activePage {
  /* background-color: #3ababeff;
  color: #fff; */
  
  background-color: #3ababeff;
  /* border:2px #d2512d solid; */
  color: white;
  
}

/* Previous and Next buttons */
.paginationPrevious,
.paginationNext {
  margin: 0 5px;
  cursor: pointer;
  /* background-color: #3ababeff; */
  color: #5c5a5a;
  border: none;
  border-radius: 4px;
  padding: 5px 0px;

}

.paginationPrevious a,
.paginationNext a {
/* background: #000; */
padding: 5px 15px;


}

.paginationDisabled {
  pointer-events: none;
  opacity: 0.5;
}
